---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
layout: base.njk
renderData:
  title: "Articoli con tag “{{ tag }}”"
  metaDescription: "Tutti gli articoli del Blog con il tag “{{ tag }}”"
---
<div class="page-container">
  <div class="tag-list tag-list--no-wrap">
    <h3 class="tag-list__title">Articoli con tag: "{{ tag | capitalize }}"</h3>
    <a class="btn btn--sm btn--danger" href="{{ '/blog' | url }}">Rimuovi tag</a>
  </div>

  {% from "macros/articlelist.njk" import articlelist %}
  {{ articlelist(
    articles = collections[tag] | reverse,
    show_tags = true
  ) }}

  <nav>
    <a href="{{ '/blog/' | url }}">← Vedi tutti gli articoli</a>
  </nav>
</div>
